{% extends 'layouts/base.html.twig' %}

{% block title 'Edit Project#'~ project.id %}


{% block body %}
	<div class="row">
		<div class="col-md-4 mx-auto">
			<h1 class="text-center">Edit Project
				{{project.id}}</h1>
			{{ include ('projects/_form.html.twig',{'submitButtonText':'Update Project'}) }}
		</div>
	</div>
{% endblock %}
