.project img {
  transition: transform 0.3s ease-out;
  display: block;
  object-fit: cover;
  width: 50%;
}
.project img:hover {
  transform: scale(1.05);
}

.article {
  transition: transform 0.3s ease-out;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height:min-content;
}
.article:hover {
  transform: scale(1.01);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}
