<footer class="container text-center mt-5">
	<ul class="list-inline container justify-content-center d-inline-flex">
		<li class=""></li>
		<a href="#">
			<span class="text-secondary h1 p-2">
				<i class="fab fa-facebook"></i>
			</span>
		</a>
	</li>
	<li class=""></li>
	<a href="#">
		<span class="text-secondary h1 p-2">
			<i class="fab fa-youtube"></i>
		</span>
	</a>
</li>
<li class=""></li>
<a href="#">
	<span class="text-secondary h1 p-2">
		<i class="fab fa-instagram"></i>
	</span>
</a></li></ul><h3 class="copyright text-seconadary">&#169;{{'now'|date('Y')}}. All rights reserved. Built with<span class="text-danger">
<i class="fa fa-heart"></i></span> by <a class="text-decoration-none text-muted" href="https://mind.engineering/">Mind Engineering</a></h3></footer>


